
<%= form_with(model: user, local: true) do |form| %>

<%= render 'shared/error_messages' %>
  <div class="field">
    <p>
      <strong>Given Name:</strong>
    </p>
    <%= form.text_field :givenName %>
  </div>

  <div class="field">
    <p>
      <strong>Family Name:</strong>
    </p>
    <%= form.text_field :familyName %>
  </div>

  <div class="field">
    <p>
      <strong>Email:</strong>
    </p>
    <%= form.text_field :email %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
