<p id="notice"><%= notice %></p>

<h1>Users</h1>
  <% @users.each do |user| %>
    <div class="col-md-4">
      <div class="thumbnail">
        <strong>Given Name:</strong><p><%= user.givenName %></p>
        <strong>Family Name:</strong><p><%= user.familyName %></p>
        <strong>Email:</strong><p><%= user.email %></p>
        <strong>Created at:</strong><p><%= user.created_at %></p>
        <strong>Last update:</strong><p><%= user.updated_at %></p>
        <p><%= link_to 'Show', user %></p>
        <p><%= link_to 'Edit', edit_user_path(user) %></p>
        <p><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
    </div>
  <% end %>
